
<div class="container">
  <h2 class="text-center">Update your booking</h2>
  <%= simple_form_for [:my, @booking] do |f| %>
    <%= f.input :starts_at %>
    <%= f.input :ends_at %>
    <%= f.button :submit %>
  <% end %>
  <%= link_to "back to your booking", my_booking_path(@booking), class: 'btn btn-primary' %>
</div>

