<div class="container">
  <div class= "index-title">
  <h1>All your bookings</h1>
  </div>

  <div class="card-group">
    <% @bookings.each do |booking| %>
    <div class="col-md-4 col-sm-6">
      <div class="card" style="">
          <%= cl_image_tag booking.super_hero.photo, crop: :fill, class: "card-img-top"%>
        <div class="card-body">
          <h5 class="card-title" style="text-align: center"><%= booking.super_hero.name %></h5>
          <p class="card-text" style="text-align: center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <ul class="list-group list-group-flush" style="text-align: center">
            <li class="list-group-item">
              Start: <%= booking.starts_at.mday %>/<%= booking.starts_at.mon %>/<%= booking.starts_at.year %>
              at <%= booking.starts_at.hour %>h<%= booking.starts_at.min %>
            </li>
            <li class="list-group-item">
              End: <%= booking.ends_at.mday %>/<%= booking.ends_at.mon %>/<%= booking.ends_at.year %>
              at <%= booking.ends_at.hour %>h<%= booking.ends_at.min %>
            </li>
            <li class="list-group-item">
              <strong><%= (((booking.ends_at - booking.starts_at)/3600)*booking.super_hero.price).round(2) %>€</strong>
            </li>
          </ul>
           <a><%= link_to 'Show', my_booking_path(booking.id), class: 'btn btn-light btn-block'%></a>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>



