<div class="container">
  <div class="row">
      <div class="col-xs-6">
        <div class="card-body">
              <h1 class="card-title">🔥Your booking of <%= @booking.super_hero.name %></h1>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <br>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Booking number <%= @booking.id %></li>
                <li class="list-group-item">
                  Start: <%= @booking.starts_at.mday %>/<%= @booking.starts_at.mon %>/<%= @booking.starts_at.year %>
                  at <%= @booking.starts_at.hour %>h<%= @booking.starts_at.min %>
                </li>
                <li class="list-group-item">
                  End: <%= @booking.ends_at.mday %>/<%= @booking.ends_at.mon %>/<%= @booking.ends_at.year %>
                  at <%= @booking.ends_at.hour %>h<%= @booking.ends_at.min %>
                </li>
                <li class="list-group-item">
                  <strong><%= (((@booking.ends_at - @booking.starts_at)/3600)*@booking.super_hero.price).round(2) %>€</strong>
                </li>
                <br>
              </ul>
              <%= link_to "Update your booking", edit_my_booking_path(@booking), class: 'btn btn-primary' %>
              <%= link_to "Delete", my_booking_path(@booking), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-primary' %>
        </div>
      </div>

      <div class="col-xs-6">
        <img src="https://image.shutterstock.com/image-illustration/superheroes-shaking-hands-great-show-260nw-24518008.jpg" alt="..." class="img-thumbnail" style="margin-top: 30px;">
    </div>
  </div>

  <h2>Add a review</h2>

    <%= simple_form_for([:my, @booking], method: :patch) do |f| %>
        <fieldset class="rating">
          <input type="radio" id="star5" name="booking[rating]" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
          <input type="radio" id="star4" name="booking[rating]" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
          <input type="radio" id="star3" name="booking[rating]" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
          <input type="radio" id="star2" name="booking[rating]" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
          <input type="radio" id="star1" name="booking[rating]" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
        </fieldset>
      <%= f.input :review, label: false %>
      <%= f.submit "Add a review", class: "btn btn-primary btn-block"%>
    <% end %>
      <br>
    <%= link_to "View superhero profil", super_hero_path(@booking.super_hero), class: 'btn btn-light btn-block' %>
</div>





