<div class="container" style="margin-top: 30px">
  <h1>Edit your superhero</h1>
  <%= simple_form_for @super_hero do |f| %>
    <%= @super_hero.errors.full_messages.join(', ') %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :price, :collection => (1..100).to_a %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.association :powers %>
    <%= f.association :powers %>
    <p><%= f.button :submit, class: 'btn btn-danger'%>  <%= link_to "Back to Super Heroes list", root_path, class: 'btn btn-light' %></p>
  <% end %>
<<<<<<< HEAD


=======
  <%= link_to "back to Super Heroes list", root_path, class: 'btn btn-primary' %>
>>>>>>> 44b57ce253c5ade7c9961562cab7e49781d06407
</div>

