<div class="container">
  <%= simple_form_for @super_hero do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :picture %>
    <%= f.input :price, :collection => (1..100).to_a %>
    <%= f.association :powers, as: :check_boxes %>

    <%= f.button :submit %>
  <% end %>
  <%= link_to "back to Super Heroes list", root_path, class: 'btn btn-primary' %>
  <%= javascript_include_tag('map.js') %>
</div>

