<div class="container">
  <br>
  <br>
    <div class="row">
      <div class="col-xs-6" style="padding-top: 80px; background: url(https://www.joann.com/on/demandware.static/-/Sites-joann-product-catalog/default/dwa685ef8a/images/hi-res/14/14198105.jpg); border-radius: 100px">
        <div class="autofill-card mx-auto">
          <h2 id="super_hero_name_card" style="text-align: center; padding-top: 20px; padding-bottom: 20px">
          </h2>
          <img id="super_hero_img" class="mx-auto hidden" style="width: 300px; height: 150px; border-style: none;"/>
          <h5 id="super_hero_address_card" style="text-align: center; padding-top: 20px; padding-bottom: 20px">
          </h5>
          <ul id="super_hero_power_card">

          </ul>
          <div>
          <h5 id="super_hero_price_card" style="margin-left: 20px"></h5>
          </div>
        </div>
        <br>
        <br>


      </div>

      <div class="col-xs-6">
          <h1>Create a new superhero</h1>
          <br>
          <br>
          <%= simple_form_for @super_hero do |f| %>
            <%= @super_hero.errors.full_messages.join(', ') %>
            <%= f.input :name %>
            <%= f.input :address, input_html: {id: "auto_address"} %>
            <label for="price">
              Price
            </label>
            <div class="range-slider">
              <input class="range-slider__range" type="range" value="100" min="0" max="100" name="super_hero[price]" id="super_hero_price">
              <span class="range-slider__value">0</span>
            </div>
            <%= f.input :photo %>
            <%= f.input :photo_cache, as: :hidden %>
            <%= f.association :powers %>
            <%= f.association :powers, input_html: { id: "super_hero_power_ids_2"} %>
            <p> <%= f.button :submit, class: 'btn btn-danger'%><%= link_to "Back to Super Heroes list", root_path, class: 'btn btn-light' %></p>
          <% end %>
        </div>
    </div>
</div>
