<h2>
  <%= @super_hero.name %>
</h2>
<h3>
  <%= @super_hero.address %>
</h3>
<h3>
  <%= @super_hero.price %>
</h3>
<h3>
  <%= @super_hero.picture %>
</h3>
<%= link_to "back to list", root_path, class: "btn btn-primary" %>
